@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@theme {
  --font-default: 'NeueMontreal', sans-serif;
  --font-display: 'Lora', serif;

  --color-primary: #4a7253;
  --color-primary-opacity: #4a7253aa;
  --color-primary-variable: #3f7e54;

  --color-secondary: #a8cdba;
  --color-secondary-opacity: #a8cdbaaa;
  --color-secondary-lightest: #eff7ee;
  --color-tertiary: #eef0f2;

  --color-black: #112415;
  --color-hover-btn: #a8cdba;

  --color-darkestgrey: #293a2c;
  --color-darkgrey: #415044;
  --color-mediumgrey: #58665b;
  --color-grey: #928b82;
  --color-lightgrey: #e7e9e8;
  --color-lightergrey: #fafafa;
  --color-lightestgrey: #fcfdfc;

  --color-lucid: #ff1b1a;
  --color-lucid-opacity: #ff1b1aaa;
  --color-circle-lucid: rgba(255, 124, 121, 0.6);
  --color-hyundai-card: #000;
  --color-hyundai-card-opacity: rgba(0, 0, 0, 0.8);
  --color-circle-hyundai-card: #444;
  --color-circle-np-camp: #f5f5f5;
  --color-circle-local-fresh: rgba(168, 205, 186, 0.6667);
}

:root {
  font-family: 'NeueMontreal', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  color: #293a2c;
  letter-spacing: 1px;
}

h1 {
  font-family: 'NeueMontreal', serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1;
}
