@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Medium.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-MediumItalic.otf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-Bold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./fonts/NeueMontreal-BoldItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* @font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-ExtralLight.otf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-ExtralightItalic.otf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-LightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Italic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-SemiboldItalic.otf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Extrabold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-ExtraboldItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('./fonts/Switzer-BlackItalic.otf') format('truetype');
  font-weight: 900;
  font-style: italic;
} */

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Ultralight.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-UltralightItalic.otf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Ultralight.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-UltralightItalic.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-MediumItalic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Medium.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-MediumItalic.otf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-BoldItalic.otf') format('truetype');
  font-weight: 700;
  font-style: Italic;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-Bold.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Hatton';
  src: url('./fonts/Hatton-BoldItalic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@theme {
  --font-default: 'NeueMontreal', sans-serif;
  --font-display: 'Hatton', serif;

  --color-primary: #c3f589;
  --color-primary-variant: #dbf9b8;
  --color-primary-accent: #7ad412;
  --color-primary-opacity: #f3fde7;
  --color-primary-variable: #3f7e54;

  --color-secondary: #a8cdba;
  --color-secondary-opacity: #a8cdbaaa;
  --color-secondary-lightest: #eff7ee;
  --color-tertiary: #eef0f2;

  --color-black: #121212;
  --color-white-opacity: rgba(255, 255, 255, 0.06);
  --color-white-opacity2: rgba(255, 255, 255, 0.2);
  --color-hover-btn: #a8cdba;

  --color-blackgrey: #2b2c2b;
  --color-darkestgrey: #454544;
  --color-darkergrey: #5e5f5e;
  --color-darkgrey: #787977;
  --color-mediumgrey: #919291;
  --color-grey: #ababaa;
  --color-lightgrey: #c4c5c4;
  --color-lightergrey: #dedede;
  --color-lightestgrey: #f7f7f7;

  --color-lucid: #ff1b1a;
  --color-lucid-opacity: #ff1b1aaa;
  --color-circle-lucid: rgba(255, 124, 121, 0.6);
  --color-hyundai-card: #000;
  --color-hyundai-card-opacity: rgba(0, 0, 0, 0.8);
  --color-circle-hyundai-card: #444;
  --color-circle-np-camp: #f5f5f5;
  --color-circle-local-fresh: rgba(168, 205, 186, 0.6667);

  --animate-blink: blink 1s ease-out infinite;

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

:root {
  font-family: 'NeueMontreal', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  color: #293a2c;
  letter-spacing: 1px;
}
